:root {
  --background-start: #ace8b9;
  --primary-font-color: #003D1A;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(
    circle at top, 
    var(--background-start),
    transparent);
}

a {
  color: inherit;
  text-decoration: none;
}

